@import '../abstracts/variables';

.cta {
    position: relative;
    width: 100%;

    &__image {
        width: 100%;
        aspect-ratio: 1920/680;
        object-fit: cover;
        height: auto;
    }

    &__image-mobile {
      display: none;
      @extend .cta__image;
    }

    &__text-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); // <-- centraliza no centro do container
      font-size: clamp($subtitle-size, 1.7vw, 2.87rem);
      font-weight: 700;
      color: $primary-background-color;
      background-color: rgba(255, 255, 255, .6);
      padding: clamp(1.5rem, 2vw, 4rem) 1.7rem;
      text-align: center;
      line-height: 1.4em;
      width: 100%;

      .cta__text-mobile {
        display: none;
      }
    }
  }

@media(max-width: 768px) {
  body {
    main {
      .cta {
        &__image {
          display: none;
        }

        &__image-mobile {
          display: block;
          height: 449px;
          object-fit: cover;
        }

        &__text-container {
          top: 193px;
          left: 0;
          transform: none;
          font-size: clamp(1rem, 2.7vw, 1.25rem);

          .cta__text {
            display: none;
          }

          .cta__text-mobile {
            display: block;
          }
        }
      }
    }
  }
}